body {
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  
}

.left-sidebar-nav {
  flex-basis: 18%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(218, 218, 218);
  position: fixed;
  width: 250px;
  z-index: 100;
  background: white;
  padding: 26px 0 10px 25px;
  height: 100vh; 
}

.left-sidebar-nav div a {
  text-decoration: none;
}

.left-sidebar-nav div a img {
  width: 100px;
}

.left-sidebar-nav-links {
  width: 100%;
  display: grid;
  margin-top: 10px;
}

.left-sidebar-nav-links div {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 8px;
}

.left-sidebar-nav-links div img {
  width: 25px;
  margin-right: 15px;
}

.left-sidebar-nav-links div a {
  font-size: 15px;
  font-weight: 600;
}





.main-page {
  flex-basis: 52%;
  border-right: 1px solid rgb(218, 218, 218);
  position: relative;
  left: 270px;
}

.profile-stories {
  width: 100%;
}

.profile-stories-container {
  margin: 25px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-stories-container div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-stories-container div img  {
  width: 63px;
  height: 63px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.profile-stories-container div a {
  position: absolute;
  border: 3px solid rgb(178, 73, 32);
  border-radius: 50%;
  top: 22px;
  width: 64px;
  height: 64px;
}

.profile-stories-container div small {
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.user-post-container {
  padding: 5px 18%;
  
}

.post-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 10px;
}

.user-name {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.user-name div {
  display: flex;
  align-items: center;
}

.user-name div img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.user-name div a {
  position: absolute;
  border: 3px solid rgb(178, 73, 32);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: -3px;
}

.user-name div p {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.user-name div p span {
  font-weight: 400;
  color: gray;
  font-size: 14px;
}


.post-photo {
  display: block;
}

.post-photo img {
  width: 100%;
  border-radius: 5px;
  max-height: 400px;
  object-fit: cover;
}

.post-details {
  padding: 5px 0;
}

.interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interaction div {
  display: flex;
  align-items: center;
}


.interaction div img {
  width: 35px;
}

.interaction .like-comment img {
  margin-right: 15px;
}

.post-details div b {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  color: black;
  align-items: center;
  display: flex;
}

.post-details div b img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
  margin-bottom: 0;
}


.post-details div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.post-details div i {
  margin-right: 5px;
  font-size: 12px;
}

/* .post-details .add-comment {
 
}
 */


.post-description a {
  font-weight: 700;
  font-size: 14px;
}

.post-description p {
  color: black;
  font-size: 14px;
}



.post-container div p {
  font-size: 12px;
}

.right-sidebar-nav {
  flex-basis: 30%;
  position: fixed;
  right: 20px;
  width: 350px;
  
  height: 100vh;
}

.profile-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background: white;
  margin: 25px 30px;
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.user-profile div {
  display: flex;
  align-items: center;
}

.user-profile div  img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.descr-user {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.descr-user b {
  font-size: 14px;
}

.descr-user small {
  font-size: 11px;
  width: 100%;
  color: gray;
}

.more-info {
  float: right;
  font-size: 12px;
}

.more-info a {
  color: blue;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.text div p {
  color: gray;
}

.text div a {
  font-size: 12px;
  font-weight: 600;
  color: rgb(68, 68, 68);
}

.footer {
  margin: 25px 30px;
}

.footer div p {
  font-size: 12px;
  color: gray;
}
